myfreeADF/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "myfreeADF"
		},
		"AzureDataLakeStorage_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage'"
		},
		"CneosDataGenerator_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'CneosDataGenerator'"
		},
		"CneosSQLDatabase_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'CneosSQLDatabase'"
		},
		"AzureDataLakeStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://myazurefreetier.dfs.core.windows.net/"
		},
		"AzureKeyVaultFree_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://mykeyvaultfree.vault.azure.net/"
		},
		"CneosDataGenerator_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0128-115905-5vkbhijl"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CNEOS_Data_Tracker')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Checking Raw Legacy Data",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "ReadingRawFile",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Cneos Legacy Data Extractor",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Checking Raw Legacy Data",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/vaibhavgupta9877@gmail.com/CNEOS_Data/ADF-CNEOS-Data-Legacy"
						},
						"linkedServiceName": {
							"referenceName": "CneosDataGenerator",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Cneos Weekly Data Extractor",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Checking Raw Legacy Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/vaibhavgupta9877@gmail.com/CNEOS_Data/ADF-CNEOS-Data-Weekly"
						},
						"linkedServiceName": {
							"referenceName": "CneosDataGenerator",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "MasterBasicStats to SQL DB",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Cneos Weekly Data Extractor",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Cneos Legacy Data Extractor",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Designation",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Designation",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Close_Approach_Date_formatted",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Close_Approach_Date_formatted",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Orbit_Id",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Orbit_Id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Nominal_Approch_distance_au",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "Nominal_Approch_distance_au",
											"type": "Double",
											"physicalType": "Double"
										}
									},
									{
										"source": {
											"name": "Nominal_Approch_distance_km",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "Nominal_Approch_distance_km",
											"type": "Double",
											"physicalType": "Double"
										}
									},
									{
										"source": {
											"name": "Min_Close_Approach_Distance_au",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "Min_Close_Approach_Distance_au",
											"type": "Double",
											"physicalType": "Double"
										}
									},
									{
										"source": {
											"name": "Min_Close_Approach_Distance_km",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "Min_Close_Approach_Distance_km",
											"type": "Double",
											"physicalType": "Double"
										}
									},
									{
										"source": {
											"name": "Max_Close_Approach_Distance_au",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "Max_Close_Approach_Distance_au",
											"type": "Double",
											"physicalType": "Double"
										}
									},
									{
										"source": {
											"name": "Max_Close_Approach_Distance_km",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "Max_Close_Approach_Distance_km",
											"type": "Double",
											"physicalType": "Double"
										}
									},
									{
										"source": {
											"name": "V_Reletive_Kms",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "V_Reletive_Kms",
											"type": "Double",
											"physicalType": "Double"
										}
									},
									{
										"source": {
											"name": "V_Infinite_Kms",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "V_Infinite_Kms",
											"type": "Double",
											"physicalType": "Double"
										}
									},
									{
										"source": {
											"name": "Absolute_Magnitude_mag",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "Absolute_Magnitude_mag",
											"type": "Double",
											"physicalType": "Double"
										}
									},
									{
										"source": {
											"name": "Diameter_Km",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Diameter_Km",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "MasterBasicStatsInput",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "CNEOSMasterStats",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "AsteroidSummary to SQL DB",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "MasterBasicStats to SQL DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Designation",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Designation",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "No_of_Occurances",
											"type": "Int64",
											"physicalType": "INT64"
										},
										"sink": {
											"name": "No_of_Occurances",
											"type": "Int64",
											"physicalType": "Int64"
										}
									},
									{
										"source": {
											"name": "Orbit_Id",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Orbit_Id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Min_Close_Approach_Distance_au",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "Min_Close_Approach_Distance_au",
											"type": "Double",
											"physicalType": "Double"
										}
									},
									{
										"source": {
											"name": "Max_Close_Approach_Distance_au",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "Max_Close_Approach_Distance_au",
											"type": "Double",
											"physicalType": "Double"
										}
									},
									{
										"source": {
											"name": "Mean_V_Reletive_Kms",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "Mean_V_Reletive_Kms",
											"type": "Double",
											"physicalType": "Double"
										}
									},
									{
										"source": {
											"name": "Mean_Absolute_Magnitude_mag",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "Mean_Absolute_Magnitude_mag",
											"type": "Double",
											"physicalType": "Double"
										}
									},
									{
										"source": {
											"name": "Diameter_Km",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Diameter_Km",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AsteroidSummaryInput",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "CNEOSMasterStats",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ReadingRawFile')]",
				"[concat(variables('factoryId'), '/linkedServices/CneosDataGenerator')]",
				"[concat(variables('factoryId'), '/datasets/MasterBasicStatsInput')]",
				"[concat(variables('factoryId'), '/datasets/CNEOSMasterStats')]",
				"[concat(variables('factoryId'), '/datasets/AsteroidSummaryInput')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AsteroidSummaryInput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "asteroidSummary.parquet",
						"folderPath": "processedData",
						"fileSystem": "cneosproject"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "Designation",
						"type": "UTF8"
					},
					{
						"name": "No_of_Occurances",
						"type": "INT64"
					},
					{
						"name": "Orbit_Id",
						"type": "UTF8"
					},
					{
						"name": "Min_Close_Approach_Distance_au",
						"type": "DOUBLE"
					},
					{
						"name": "Max_Close_Approach_Distance_au",
						"type": "DOUBLE"
					},
					{
						"name": "Mean_V_Reletive_Kms",
						"type": "DOUBLE"
					},
					{
						"name": "Mean_Absolute_Magnitude_mag",
						"type": "DOUBLE"
					},
					{
						"name": "Diameter_Km",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CNEOSMasterStats')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CneosSQLDatabase",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "masterbasicstats"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CneosSQLDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MasterBasicStatsInput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "masterBasicStats.parquet",
						"folderPath": "processedData",
						"fileSystem": "cneosproject"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "Designation",
						"type": "UTF8"
					},
					{
						"name": "Close_Approach_TimeStamp",
						"type": "TIMESTAMP_MICROS"
					},
					{
						"name": "Close_Approach_Date_formatted",
						"type": "UTF8"
					},
					{
						"name": "Orbit_Id",
						"type": "UTF8"
					},
					{
						"name": "Nominal_Approch_distance_au",
						"type": "DOUBLE"
					},
					{
						"name": "Nominal_Approch_distance_km",
						"type": "DOUBLE"
					},
					{
						"name": "Min_Close_Approach_Distance_au",
						"type": "DOUBLE"
					},
					{
						"name": "Min_Close_Approach_Distance_km",
						"type": "DOUBLE"
					},
					{
						"name": "Max_Close_Approach_Distance_au",
						"type": "DOUBLE"
					},
					{
						"name": "Max_Close_Approach_Distance_km",
						"type": "DOUBLE"
					},
					{
						"name": "V_Reletive_Kms",
						"type": "DOUBLE"
					},
					{
						"name": "V_Infinite_Kms",
						"type": "DOUBLE"
					},
					{
						"name": "Absolute_Magnitude_mag",
						"type": "DOUBLE"
					},
					{
						"name": "Diameter_Km",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ReadingRawFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "rawSparkInput.parquet",
						"folderPath": "rawInput",
						"fileSystem": "cneosproject"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "Designation",
						"type": "UTF8"
					},
					{
						"name": "Orbit_Id",
						"type": "UTF8"
					},
					{
						"name": "Time_of_Close_approach",
						"type": "UTF8"
					},
					{
						"name": "Close_Approach_Date",
						"type": "UTF8"
					},
					{
						"name": "Nominal_Approch_distance_au",
						"type": "UTF8"
					},
					{
						"name": "Min_Close_Approach_Distance_au",
						"type": "UTF8"
					},
					{
						"name": "Max_Close_Approach_Distance_au",
						"type": "UTF8"
					},
					{
						"name": "V_Reletive_Kms",
						"type": "UTF8"
					},
					{
						"name": "V_Infinite_Kms",
						"type": "UTF8"
					},
					{
						"name": "Close_Approach_Uncertain_Time",
						"type": "UTF8"
					},
					{
						"name": "Absolute_Magnitude_mag",
						"type": "UTF8"
					},
					{
						"name": "Diameter_Km",
						"type": "UTF8"
					},
					{
						"name": "Diameter_Sigma_Km",
						"type": "UTF8"
					},
					{
						"name": "Object",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVaultFree')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVaultFree_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CneosDataGenerator')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-2130789923327077.17.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('CneosDataGenerator_accessToken')]"
					},
					"existingClusterId": "[parameters('CneosDataGenerator_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CneosSQLDatabase')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('CneosSQLDatabase_connectionString')]"
				}
			},
			"dependsOn": []
		}
	]
}